body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    min-height: 100vh;
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
}

/* contenedor padre     */
.container {
    display: flex;
    width: 800px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    
}


.card {
    padding: 25px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.2);

    
}

.card_img {
    background-image: url(img/img_card2.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
    
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border: solid 2px #aaa;
    background-color: whitesmoke;
    margin-bottom: 15px;
    border-radius: 7px;
    padding: 7px;
}

/* cambiar el color del borde del input cuando el usuario hace clic */

input:focus  {
    border: solid 2px #11998e;
    outline: none;
}

::placeholder{
    color: #333;
}

.copyright, h1, p {
    text-align: center;
    font-style: italic;
}


button {
    background: #046218;
    color: #fff;
    padding: 10px 20px; 
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/*  cambiar el color de boton cuando el cursor pasa por encima*/
button:hover {
    background-color: #068922;
}

.copyright, label, p {
    font-weight: 600;
}